MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=m2
MYSQL_DBHOST=m2-sample-mysql
PUBLICKEY=<your public key in marketplace>
PRIVATEKEY=<your private key in marketplace>
MAGENTO_ADMIN_PASSWORD=admin123
MAGENTO_ADMIN_USERNAME=admin
DEPLOY_SAMPLE_DATA=false