!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
innodb_buffer_pool_instances=4
innodb_buffer_pool_size=256MB
innodb-thread-concurrency=2
wait_timeout=7200
max_allowed_packet=512M